# FontAwesome NPM Package Auth
@fortawesome:registry=https://npm.fontawesome.com
//npm.fontawesome.com/:_authToken=${FONTAWESOME_TOKEN}

@singlestore:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

prefer-frozen-lockfile=true
# Needed for global types in @types folder to be resolved by TypeScript
public-hoist-pattern[]=@types*
# TODO: pnpm7-update: Uncomment when the issue is fixed => https://github.com/pnpm/pnpm/issues/4997
side-effects-cache=false

# Always installs pinned depedencies by default
save-prefix=""

auto-install-peers=false
dedupe-peer-dependents=false
resolve-peers-from-workspace-root=false
resolution-mode=highest

# fix issue related `ERR_PNPM_LINKING_FAILED` => https://github.com/pnpm/pnpm/issues/7024
package-import-method=clone-or-copy

